* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #EEEAE8;
  color:#000000;
}

nav {
  display: flex;
  background-color: #807672;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color: #DADFE5;
  padding: 10px;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
  background: #EEEAE8;
  color: #000000;
}

.products {
  flex: 4;
  background-color: #FFFFFF;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

.photoofme {
length: 300px;
width: 160px;
}

.refactorchallenge {

}

.portfoliochallenge {

}

img:hover {
  width: 50%;
  length: 50%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

img {
  width: 500px;
  length: 300px;
}